html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #f48fb1;
    margin: 0;
}

.logo {
    width: 120px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.achievements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    flex-grow: 1; 
}

.achievement-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    width: 300px;
    color: teal;
}

.achievement-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.achievement-card h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: pink;
}

.achievement-card p {
    color: #333;
}

footer {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #f48fb1;
    font-size: small;
}

@media (min-width: 769px) {
    .achievements-container {
        flex-direction: row;
    }

    .achievement-card {
        width: 300px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0.5rem;
    }

    .logo {
        width: 100px;
    }

    h1 {
        font-size: 1.75rem;
    }

    .achievements-container {
        flex-direction: column;
    }

    .achievement-card {
        width: 90%;
        margin: 1rem auto;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .achievement-card {
        width: 100%;
        padding: 1rem;
    }

    .achievement-card h2 {
        font-size: 1.25rem;
    }
}
